/* Provide sufficient contrast against white background */

body {
  background-image: url("./img/backgroundPhone.jpg");
  background-size: cover;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.phone-card-img {
  width: 140px;
}

.MuiCardActions-root {
  text-align: center;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.MuiCard-root {
  background: linear-gradient(#e29c9c, #bdc0db) !important;
  border: 1px solid rgba(7, 6, 6, 0.507);
  margin: 2px;
}

footer {
  text-align: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
  position: absolute;
  top: 97.7%;
  width: 100%;
}

.MuiTypography-body1 {
  font-size: 0.75rem !important;
}

.phone-details {
  text-align: center;
}

.phone-details-img {
  width: 300px;
  height: 300px;
}

.dl {
  font-family: Roboto;
}

.definition-list-item {
  /* background-color: rgb(21, 224, 197); */
  background: linear-gradient(to left, #e29c9c, #bdc0db);
  width: 300px;
  margin: auto;
}

.definition-list-item dt {
  font-weight: 900;
}

.form {
  text-align: center;
  background: linear-gradient(to left, #e29c9c, #bdc0db);
  width: 20%;
  margin: auto;
}

.definition-list-item dd {
  font-weight: 500;
}

.login-register {
  background-color: rgba(97, 92, 92, 0.596) !important;
}

.role {
  background-color: #002984 !important;
  color: white !important;
}

.username {
  background-color: #ba000d !important;
  color: white !important;
}
