/* Provide sufficient contrast against white background */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/backgroundPhone.jpg");
  background-size: cover; 
  background-position: center;
  min-height: 100vh;
}

@media screen and (max-width: 960px) {
  body {
    background-image: url("/backgroundPhoneSmall.jpg");
  }
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.bar {
  display: none !important;
}

 @media screen and (max-width: 400px) {
  .bottomNavigation {
    display: flex;
    flex-direction: column;
    height: auto !important;
    margin-bottom: 1em;
  }
  .bottomNavigation button {
    width: 100%;
    max-width: none !important;
    border: 1px solid black;
  }

  .bar {
    display: block !important;
  }

  .hide {
    display: none !important;
  }
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}



.phone-list-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 82vh;
}

.phone-grid {
  margin-top: 5px;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 960px) {
  .phone-grid {
    max-width: 80%;
  }
}


.phone-card {
  text-align: center;
  height: 45%;
}

.phone-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* 
@media screen and (min-width: 960px) {
  .pagination-container {
    margin: 0;
    position: absolute;
    bottom: 30px;
  }
} */

.phone-card-img {

  /* width: 68%; */
  height: 68%;
  object-fit: contain;
}

/* @media screen and (min-width: 960px) {
  .phone-card-img {
    max-height: 140px;
  }
} */

.MuiCardActions-root {
  text-align: center;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.Mui-selected {
  border-bottom: 1px solid ;
}

.MuiCard-root {
  background: linear-gradient(#e29c9c, #bdc0db) !important;
  border: 1px solid rgba(7, 6, 6, 0.507);
  margin: 2px;
}

address {
  margin: 0;
  margin-top: auto;
  text-align: center;
  background-color: white;
  color: rgba(0, 0, 0, 0.54);
  /* position: absolute;
  bottom: 0; */
  width: 100%;
}

@media screen and (min-width: 960px) {
  address {
    position: absolute;
    bottom: 0;
  }
}

.MuiTypography-body1 {
  font-size: 0.75rem !important;
}

.phone-details {
  text-align: center;
}

.phone-details-img {
  width: 300px;
  height: 300px;
}

.dl {
  font-family: Roboto;
}

.definition-list-item {
  /* background-color: rgb(21, 224, 197); */
  background: linear-gradient(to left, #e29c9c, #bdc0db);
  width: 300px;
  margin: auto;
}

.definition-list-item dt {
  font-weight: 900;
}

.form {
  border-radius: 4px;
  text-align: center;
  background: linear-gradient(to left, #e29c9c, #bdc0db);
  margin-bottom: 1em;
  width: 80%;
}

@media screen and (min-width: 960px) {
  .form {
    width: 20%;
    margin: 1em auto;
  }
}

.definition-list-item dd {
  font-weight: 500;
}

.login-register {
  background-color: #A9FBD7 !important;
}

.role {
  background-color: #0A0908 !important;
  color: white !important;
}

.username {
  background-color: #49111C !important;
  color: white !important;
}

.logout {
  text-align: center;
}

.phone-table-image {
  width: 40px;
}

.pagination-container {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .pagination-container {
    margin: 0;
    position: absolute;
    bottom: 30px;
  }
}
